<div class="container-fluid">

    <!-- row -->
    <div class="row p-30-0">

        <!-- col -->
        <div class="col-lg-12">

            <!-- filter -->
            <div class="art-filter mb-30">
                <a href="#" data-filter="*" class="art-link art-current">All Categories</a>

                {% for category in categories %}
                <a href="#" data-filter=".{{category['type']}}" class="art-link">{{category['name']}}</a>
                {% endfor %}
            </div>
        </div>


        <div class="art-grid art-grid-3-col art-gallery">

            {% for post in posts %}

            <div class="art-grid-item {{post['type']}}">
                <div class="swiper-slide swiper-slide-prev" style="width: 308.667px; margin-right: 30px;">

                    <!-- blog post card -->
                    <div class="art-a art-blog-card">
                      <!-- post cover -->
                      <a href="{{post['post_url']}}" class="art-port-cover">
                        <!-- img -->
                        <img src="{{post['image_url']}}" alt="blog post">
                      </a>
                      <!-- post cover end -->
                      <!-- post description -->
                      <div class="art-post-description">
                        <!-- title -->
                        <a href="{{post['post_url']}}">
                          <h5 class="mb-15">{{post['title']}}</h5>
                        </a>
                        <!-- text -->
                        <div class="mb-15">{{post['description']}}</div>
                        <!-- link -->
                        <a href="{{post['post_url']}}" class="art-link art-color-link art-w-chevron">Read more</a>
                      </div>
                      <!-- post description end -->
                    </div>
                    <!-- blog post card end -->

                  </div>

            </div>

            {% endfor %}
        </div>

    </div>
    <!-- row end -->

</div>
<!-- container end -->



<!-- container -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="art-a art-pagination">
                <a href="blog-2-col.html" class="art-link art-color-link art-w-chevron art-left-link"><span>Previous page</span></a>
                <div class="art-pagination-center art-m-hidden">
                    <a href="blog-2-col.html"></a>
                    <a href="blog-2-col.html">1</a>
                    <a class="art-active-pag" href="blog-2-col.html">2</a>
                    <a href="blog-2-col.html">3</a>
                    <a href="blog-2-col.html">...</a>
                </div>
                <a href="blog-2-col.html" class="art-link art-color-link art-w-chevron"><span>Next page</span></a>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="art-grid-item {{post['type']}}">
    <a data-fancybox="gallery" data-no-swup href="{{post['image_url']}}" class="art-a art-portfolio-item-frame art-square">
        <img src="{{post['image_url']}}" alt="item">
        <span class="art-item-hover"><i class="fas fa-expand"></i></span>
    </a>

    <div class="art-item-description">
        <h5 class="mb-15">{{post['title']}}</h5>
        <div class="mb-15">{{post['description']}}</div>
        <a href="{{post['post_url']}}" class="art-link art-color-link art-w-chevron">Read more</a>
    </div>
</div> -->